<%- include('./layouts/header') %>

<h1>Welcome to the Homepage!</h1>
<br><br>
<p><span style="font-weight: bold; text-decoration: underline;">Roles:</span> Admin, Moderator and Employee</p>


<%- include('./layouts/footer') %>
